---
import { Markdown } from "astro/components";
---

<div class="">
  <Markdown>
    ## Installation
    You can just clone this project's repository and edit it the way you want to.

    ```bash
    git clone https://github.com/TheBoringDude/simple-docs.git your-project-docs
    cd your-project-docs
    yarn
    ```

    You can also try to generate a project using the npm init with astro.
    ```bash
    npm init astro -- -template TheBoringDude/simple-docs
    ```
    
  </Markdown>
</div>
