---
import D01 from "../_docs/01-intro.astro";
import D02 from "../_docs/02-installation.astro";
---

<div id="docs" class="bg-gray-100 py-20 w-full">
  <div class="w-5/6 mx-auto prose prose-lg prose-cyan">
    <D01 />

    <hr />

    <D02 />
  </div>
</div>
