---

---

<div>
    <p class="tracking-wide w-5/6 mx-auto text-white text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus recusandae nemo at ut consectetur molestiae repellendus quasi laboriosam praesentium deleniti?
    </p>
</div>