---
---

<div class="py-20">
  <div class="text-center w-4/5 mx-auto">
    <h1 class="text-6xl font-black tracking-wide text-gray-700">
      <span class="text-cyan-500">Simple</span> Docs
    </h1>
    <p class="mt-8 text-xl tracking-wide">
      Simple documentation starter template and base for mini projects. <br />
      It all starts with a simple site for your project.
    </p>

    <div class="mt-12 flex justify-center">
      <a
        class="py-3 border px-6 text-lg mx-1 rounded-lg bg-cyan-500/80 hover:bg-cyan-500 text-white border-cyan-300 duration-300"
        href=""
        >See Documentation</a
      >
      <a
        class="py-3 border px-6 text-lg mx-1 rounded-lg bg-coolGray-500 hover:bg-coolGray-600 text-white duration-300"
        href=""
        >View Demo</a
      >
    </div>
  </div>
</div>
