---
import BaseLayout from "./Base.astro";

const { title, description, images } = Astro.props;
---

<BaseLayout {title} {description} {images}>
  <header class="py-4">
    <nav class="w-5/6 mx-auto flex items-center justify-between">
      <div class="">
        <h1 class="text-3xl font-black tracking-wide text-gray-700">
          <span class="text-cyan-500">Simple</span> Docs
        </h1>
      </div>

      <ul class="flex">
        <li class=""><a href="#docs">Docs</a></li>
      </ul>
    </nav>
  </header>

  <hr class="border-cyan-300" />

  <div>
    <slot />
  </div>

  <hr class="border-cyan-300" />

  <footer class="py-12 bg-gray-50">
    <div class="w-5/6 mx-auto flex items-center justify-between text-sm">
      <h1 class="text-xl font-black tracking-wide text-gray-700">
        <span class="text-cyan-500">Simple</span> Docs
      </h1>

      <p class="text-gray-800">
        &copy; {new Date().getFullYear()} | Simple Docs - All Rights Reserved.
      </p>

      <ul class="text-gray-800">
        <li><a class="hover:underline" href="#docs">Docs</a></li>
        <li>
          <a
            class="hover:underline"
            href="https://github.com/TheBoringDude/simple-docs"
            target="_blank"
            rel="noreferrer">Github</a>
        </li>
      </ul>
    </div>
  </footer>
</BaseLayout>
